body {
	color:#424242;
	line-height: 20px;
	font-size: 14px;
	min-width: 960px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	background: url(../img/main_bg.jpg) repeat;
}

h1,h2,h3,h4,h5,h6 {
	margin-top:0;
	color:#555;
	line-height: 1;
	font-weight: 700;
}
h1, h2 {
	font-size: 24px;
}
h3 {
}
h3, h4, h5 {
	font-size: 18px;
}
p {
	margin:0 0 15px;
	font-family: 'PT Sans', sans-serif;
}
:focus {
	outline: none;
}
a {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color:#0267b5;
	&:hover, &:focus {
		color:#0267b5;
	}
}
textarea {
	resize: none;
	border:2px solid #e3e4e8;
	border-radius: 3px;
	padding:10px;
	color:#707070;
	font-size: 13px;
	line-height: 16px;
}
.cf {
	&:after {
		content:"";
		display: table;
		clear:both;
	}
}
.mb10 {
	margin-bottom:10px;
}
.mb20 {
	margin-bottom:20px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.w960 {
	width:960px;
	margin:0 auto;
	padding:0 10px;
	&:after {
		content:"";
		clear:both;
		display: table;
	}
}
.wrapper {
	background: url(../img/side-bg.jpg) repeat;
	&.cf:after {
		display: table;
	}
	.latest-video {
		float:left;
		width:200px;
		background: url(../img/side-bg.jpg) repeat;
		padding:30px;
		text-align: center;
		h2 {
			color:#ef1b1b;
			font-size: 16px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		.latest-video-list {
			a {
				display: block;
				margin-bottom: 20px;
				img {
					max-width: 100%;
					display: block;
				}
			}
		}
	}
	.wrp-content {
		margin-left:200px;
		background: #fff;
		padding:30px;
		> .cf:after {
			display: inline-block;
		}
	}
}
.aside {
	float:left;
	width:200px;
	padding-right:30px;
	margin-bottom: 30px;
	.contacts {
		font-weight: 700;
	}
}
.wrp-body {
	margin-left:200px;
	margin-bottom: 30px;
}
.heading-red {
	text-transform: uppercase;
	color:#ef1b1b;
	font-size: 16px;
	margin-bottom:15px;
	font-weight: 700;
	h2, h3, h4 {
		margin:0;
		font-weight: 700;
		text-transform: uppercase;
		color:#ef1b1b;
		font-size: 16px;
		line-height: 16px;
	}
}
.groups-info {
	overflow: hidden;
	a {
		display: block;
		width:155px;
		float:left;
		margin-left: 5px;
		position: relative;
		&:after {
			content:"";
			width:100%;
			height:100%;
			z-index: 5;
			box-shadow: 0 0 0 5px #ef1b1b inset;
			position: absolute;
			top:0;
			left:0;
			display: none;
		}
		&:hover:after{
			display: block;
		}
		&:first-child {
			margin-left: 0;
		}
		.details {
			padding: 5px 8px;
			background: #ef1b1b;
			color:#fff;
			display: block;
			.name {
				display: block;
				text-transform: uppercase;
				font-size: 14px;
			}
			.group-position {
				display: block;
				font-size: 12px;
			}
		}
		img {
			display: block;
			max-width: 100%;

		}
	}
}
.news-container {
	margin:0 0 30px;
	.news-item {
		overflow: hidden;
		img.left {
			width:175px;
			display: block;
			margin-bottom: 20px;
			margin-right:15px;
			margin-top:5px;
		}
		.title {
			display: block;
			color: #ef1b1b;
			font-weight: 700;
			text-transform: uppercase;
		}
		.date {
			font-weight: 700;
			font-size: 12px;
		}
		p {
			line-height: 18px;
		}
	}
}

.aside-news {
	font-weight: 700;
	.aside-news-item {
		margin:0 0 20px;
		background: #d7d7d7;
		display: block;
		&:hover {
			box-shadow:0 0 0 5px #ef1b1b;
			.description {
				color: #ef1b1b;
			}
		}
		.date,
		.preview{
			width:50%;
			background: #787878;
			display: table-cell;
			padding:0;
			vertical-align: middle;
			text-align: center;
			color:#fff;
			font-size: 16px;
			text-transform: uppercase;
			img {
				display: block;
				max-width: 100%;
			}
		}
		.place {
			color: #ef1b1b;
			font-size: 13px;
			padding:5px 8px 0;
		}
		.description {
			font-size: 13px;
			padding:5px 8px;
			line-height: 14px;
			color:#424242;
		}
	}
}
.table {
	display: table;
	width:100%;
	.tr {
		display: table-row;
	}
}
.pagination {
	@extend .cf;
	margin:0 0 30px;
	li {
		float:left;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-left: 15px;
		}
		margin-left: 15px;
		a {
			font-weight: 700;
			color:#c2c2c2;
			font-size: 16px;
			text-transform: uppercase;
			&.active, &:hover {
				color: #ef1b1b;
			}
		}
	}
}

.top-tab-nav {
	margin:30px 0;
	@extend .cf;
	a {
		display: block;
		padding:5px;
		line-height: 14px;
		font-size: 14px;
		float:left;
		color: #ef1b1b;
		margin-left: 20px;
		font-weight: 700;
		text-transform: uppercase;
		&:first-child {
			margin-left: 0;
		}
		&.active {
			background: #000;
			color:#fff;
		}
	}
}
.gray-link {
	display: block;
	color:#424242;
}

.concert-info {
	overflow: hidden;
	margin-bottom: 20px;
	padding-top: 5px;
	img.left {
		width: 150px;
		display: block;
	}
	.concert-info-container {
		margin-left: 165px;
		.title {
			display: block;
			margin-bottom:10px;
			font-size: 16px;
			color:#ef1b1b;
			font-weight: 700;
			text-transform: none;
			line-height: 22px;
			.date {
				text-transform: uppercase;
				color: #fff;
				padding: 2px 10px;
				position: relative;
				background: #373737;
				margin-right: 10px;
			}
		}
	}
}
.concert-info img.left + .concert-info-container {
	margin-left: 165px;
}
.concert-big-preview.concert-info img.left {
	width: 325px;
	display: block;
}
.concert-big-preview.concert-info img.left + .concert-info-container {
	margin-left: 340px;
}
.contacts-body {
	overflow: hidden;
	margin-bottom: 40px;
	.contacts-body-pic,
	.contacts-body-info {
		float:left;
		width:50%;
	}
	.contacts-body-pic {
		padding-right: 30px;
		img {
			display: block;
			width:100%;
		}
	}
	.contacts-body-list {
		li {
			margin-bottom:30px;
			padding-left: 40px;
			position: relative;
			color:#424242;
			font-weight: 700;
			.icon {
				position: absolute;
				left:0;
				top:-5px;
				z-index: 2;
			}
			.icon.icons-c1 {
				top:-7px;
			}
		}
	}

	input[type='text'] {
		display: block;
		margin-bottom:10px;
		width:46%;
		font-family: 'PT Sans', sans-serif;
		padding:0 10px;
		border:1px solid #d3d3d3;
		height:28px;
		line-height: 26px;
	}
	textarea {
		width:100%;
		margin-bottom: 10px;
		display: block;
		border:1px solid #d3d3d3;
		font-family: 'PT Sans', sans-serif;
		height:140px;
	}
	input[type='submit'] {
		display: inline-block;
		height:40px;
		text-align: center;
		width:140px;
		color:#fff;
		text-transform: uppercase;
		border:none;
		background: #e1e1e1;
		font-weight: 700;
		font-size: 14px;
	}
}


.filte-download {
	margin-bottom: 20px;
	img.left {
		margin-right: 10px;
	}
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	a {
		font-weight: 700;
		font-family: 'Open Sans Condensed', sans-serif;
		text-transform: uppercase;
		text-decoration: underline;
		color:#424242;
		display: inline-block;
		margin-right: 5px;
		@include transition(none);
		.icon {
			margin-right: 5px;
			top:3px;
			position: relative;
		}
		&:hover {
			color:#ef1b1b;
			.icon {
				@include icons-sprite(download_hover)
			}

		}
	}
}
.need-register {
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	.icons-close {
		margin-bottom: 10px;
		cursor: pointer;
	}
	a {
		text-decoration: underline;
		color:#ef1b1b;
	}
}

.galery-container {
	overflow: hidden;
	margin-bottom:30px;
	.preview-box {
		float:left;
		padding-right: 30px;
		width:180px;
		a {
			display: block;
			background: #d7d7d7;
			border:4px solid #fff;
			@include transition(none);
			&:hover {
				border-color:#d7d7d7;

			}
		}
		img {
			display: block;
			max-width: 100%;
		}
		.title {
			display: block;
			font-weight: 700;
			color:#424242;
			font-size: 13px;
			text-transform: uppercase;
			padding:0 5px;
		}
		.date {
			font-size: 13px;
			padding:0 5px;
			color:#424242;
			padding-bottom: 2px;
			display: block;
		}
	}

	.galery-content {
		padding-top:6px;
		overflow: hidden;
		a {
			float:left;
			display: block;
			width:20%;
			margin:0 0 2px;
			border:2px solid #fff;
			img {
				width: 100%;
				display: block;
				height:100%;
			}
			&:hover {
				border-color:#ef1b1b;
			}
		}
	}
}
.galery-container .preview-box + .galery-content{
	margin-left: 180px;
}